h1.list-ticker {
	font-family:verdana;
}

ul.list-ticker {
	padding: 0 20px;;
	-webkit-border-radius:10px;
	position: relative;
	top: -10px;
	font-size: 0%;
}

ul.list-ticker li {
	list-style:none;
}
ul.list-ticker li a {
    color: #989A9B;
}