* {
	padding:0;
	margin:0;
	border:none;	
}

body {
	background:#fff url(../img/bg.jpg) no-repeat center top;
	font-family:"myriad Pro",calibri,verdana,tahoma,arial,sans serif;	
	overflow-x:hidden;
}

#quem_somos {
	background:#fff url(../img/bg_quemsomos.jpg) no-repeat center top;
	font-family:"myriad Pro",calibri,verdana,tahoma,arial,sans serif;	
	overflow-x:hidden;
}

#home {
	background:#fff url(../img/bg_home.jpg) no-repeat center top;
	font-family:"myriad Pro",calibri,verdana,tahoma,arial,sans serif;	
	overflow-x:hidden;
}

#informativos {
	background:#fff url(../img/bg_informativos.jpg) no-repeat center top;
	font-family:"myriad Pro",calibri,verdana,tahoma,arial,sans serif;	
	overflow-x:hidden;
}

a {
	text-decoration:none;	
}

textarea {
	resize:none;	
}

img {
	border:none;	
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}

.clear {
	clear:both;	
}

#container {
	width:980px;
	margin:0 auto;	
	position:relative;
}

#top {
	width:980px;	
}

#logo {
	width:255px;
	height:115px;
	margin-top: 60px;
	float:left;		
}

#text_top {
	float:left;	
	font-weight:bold;
	font-size:27px;
	font-style: italic;	
	margin-left: 110px;
	margin-top: 76px;
	color:#fff;
	text-shadow: rgba(102, 102, 102, 0.2) -8px 1px 1px;
}

#text_top span {
	font-size:35px;
	margin-left: 25px;
}

#menu {
	margin-top: 76px;
	margin-left: 180px;	
}

#menu ul {
	list-style-type:none;	
}

#menu ul li {
	float:left;	
	width:123px;
	height:45px;
	background:url(../img/menu.png) no-repeat;
	margin-left: -15px;
}

#menu ul li.active {
	background:url(../img/menuover.png) no-repeat;
}

#menu ul li.active a {
	color:#1fb3ff;
}

#menu ul li:first-child {
	margin-left:0;
}
#menu ul li:hover {
	background:url(../img/menuover.png) no-repeat;
}

#menu ul li:hover a {
	color:#1fb3ff;
}

#menu ul li a {
	color:#fff;
	font-size: 13px;
	font-style:italic;
	float: right;
	margin-right: 23px;
	text-shadow: rgba(102, 102, 102, 1) 1px 2px 1px;
	padding-left: 29px;
	padding-top: 14px;
}

#face {
	width: 71px;
	height: 18px;
	margin-left: 25px;
	float: left;
}

#phone {
	color:#fff;
	font-weight:bold;	
	font-size: 19px;
	width: 111px;
	height: 20px;
	float: left;
	margin-left: 20px;
	margin-top: -5px;
	text-shadow: rgba(102, 102, 102, 1) 1px 2px 1px;
}

#phone span {
	font-size:13px;	
}

#restricted {
	color:#fff;
	font-weight: bold;
	font-size:20px;	
	text-shadow: rgba(255, 255, 255, 0.5) 0.5px 2px 1px;
	opacity:0.8;
	margin-top: 40px;
	margin-left: 40px;
	/*position: relative;
	left: 40px;*/
	width:185px;
}

#restricted form {
	margin-left: -45px;	
}

#restricted form input {
	color:#fff;
	font-weight:bold;
	font-size:11px;
	padding-left:8px;
}

#login {
	width:162px;
	height:25px;
	background:url(../img/login.png) no-repeat;	
	margin-bottom:6px;
	padding-right: 13px;
	margin-top:8px;
}

#senha {
	width:143px;
	height:25px;
	background:url(../img/senha.png) no-repeat;	
	padding-right: 13px;
}

#button_login {
	float: right;
	position:relative;
	top: 18px;
	left: -25px;
}

#banner {
	position: absolute;
	top: 275px;
	left: 200px;
	/*width: 815px;
	height: 246px;
	float: left;*/
}

#content_top {
	margin-top: 130px;	
	font-size:30px;
	color:#989aa0;	
	height: 200px;	
}

.bar {
	margin-top: 25px;
	width:946px;
	height:2px;
	background:url(../img/bar.png);
	margin-left: 5px;
	padding-right: 14px;
}

#ddd {
	margin: 0 !important;
	font-size: 30px !important;	
	line-height: 66px !important;
}

#telefone {
	margin: 0 !important;
	font-size: 45px !important;			
}

#form {
	width:800px;
	height:400px;
	background:url(../img/form.png);
	margin: 0 auto -79px auto;
}

@-moz-document url-prefix() { 
  #form {
	margin: 0 auto -84px auto;
	}
}

.informativos {
	width:980px;
	margin:0 auto;
}

#form form {
	font-weight:bold;
	font-size:21px;
	color:#989aa0;
	position: relative;
	top: 42px;	
}

#form form input[type=text] {
	width:551px;
	height:38px;
	margin-left: 40px;
	background: transparent;
	margin-bottom: 5px;
}

#form form label span {
	color:#0e84c4;
}

#name {
	margin-left: 105px;	
}

#emp {
	margin-left: 40px;
}

#email {
	margin-left: 52px;	
}

#telephone {
	margin-left: -8px;	
}

#message {
	position: absolute;
	margin-left: -20px;	
}

#form form textarea {
	width:492px;
	height:144px;	
	margin-left: 103px;
	margin-top:1px;
	resize:none;
	background:transparent;
}

#form form input[type=image] {
	position: relative;
	top: -71px;
	right: 5px;
}

#form .fields {
	position: relative;
	top: 42px;
	left: 25px;	
	color:#0e84c4;
	font-size:12px;
	font-weight:bold;
}

#boxes {
	width:100%;
	margin-top: 120px;
	height: 270px;	
}

@-moz-document url-prefix() { 
	#boxes {
		height: 266px;	
	}
}

#boxes div {
	float:left;
}

#boxes div:hover {
	background: #d3d5d6;	
}

#boxes div:hover h2 {
	color:#454545;	
}

#boxes div:hover img {
	filter: url(filters.svg#grayscale); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome & Safari 6+ */
}

#quem {
	width:313px;
	height:318px;
	padding-left:12px;
	padding-top: 15px;
}

#quem h2 {
	/*color:#454545;*/
	color:#0e84c4;	
}

#quem img {
	margin-top: 5px;	
}

#quem p {
	text-align:center;
	color:#696969;
	font-size:15px;	
	margin-top: 20px;
	font-weight:600;
}

#quem a {
	font-weight:bold;
	font-size:36px;
	color:#989a9b;
	float: right;
	margin-right: 30px;
	margin-top: 35px;	
}

#info {
	width:313px;
	height:318px;
	padding-left:12px;
	padding-top: 15px;
}

#info h2 {
	color:#0e84c4;
	margin-bottom: 4px;
}

#info h4 {
	text-align: center;	
	color:#676971;
	margin-top: 15px;
}

#info p {
	text-align: center;	
	color:#7e7f83;
	font-size:18px;
}

#news {
	width:313px;
	height:318px;
	padding-left:12px;
	padding-top: 15px;
}

#news h2 {
	color:#0e84c4;
	margin-bottom: 4px;
}

#news p {
	text-align: center;	
	color:#7e7f83;
	font-size:18px;
	margin-top: 20px;
}


#content_top span {
	color:#0e84c4;
	font-size:70px;
	font-weight:bold;
	float:left;	
	margin-left: 50px;
	line-height: 55px;
}

#content_top b {
	color:#76777a;
}

#content_text {
	width:580px;
	float:left;	
	margin-left:40px;
}

#balls {
	width:150px;
	height:345px;
	background:url(../img/balls.png);	
	float: left;
	margin-left: 50px;
	margin-top: -25px;
}

#content_bottom {
	width:750px;
	font-size:19px;
	color:#989aa0;
	float: left;
	margin-left: 10px;
}

#content_bottom span {
	color:#494b52;	
	position: relative;
	top: 5px;
	margin-bottom: 13px;
	display: block;
}

#empresa {
	font-size:19px;
	color:#a4abb3;	
}

#missao {
	margin-left: 265px;
	margin-top: 80px;	
}

#visao {
	margin-left: 326px;
	margin-top: 37px;
}

#valores {
	margin-left: 433px;
	margin-top: 56px;
}

#bgfooter {
	width:100%;	
	height:135px;
	background:url(../img/bg_rodape.png);
	margin-top: -37px;
}

#bgcontent {
	width:100%;
	margin-top: 97px;
	background:url(../img/bg_content.jpg)	
}

#text_info {
	font-size: 30px;
	color: #989aa0;
	height: 115px;
	position: relative;
	top: 30px;
	margin-bottom: 30px;
}

#text_info span {
	color: #0e84c4;
	font-size: 70px;
	font-weight: bold;
	float: left;
	margin-left: 50px;
	line-height: 55px;
}

.content_info {
	font-size: 16px;
	color: #6c727e;	
	margin-top: 20px;
	border-bottom: solid 2px #b1b4b9;
	padding-bottom: 60px;
	margin-bottom: 20px;
}

.content_info ul {
	margin-left: 18px;
	list-style-image:url(../img/disc.png);	
}

.content_info ul li {
	margin-bottom: 10px;
}

.content_info a {
	color:#0e84c4;
	font-weight:bold;
	font-size:24px;
	position: relative;
	top: 10px;
}

.last {	
	margin-bottom: -16px !important;
	padding: 0 !important;
	border:none !important;
}

@-moz-document url-prefix() { 
	.last {
		margin-bottom: -20px !important;
	}
}

.last { margin-bottom : -26px\9 !important }

.titulo {
	background:url(../img/tit_info.png);	
	width:782px;
	height:30px;
}

.titulo h3 {
	color:#fff;
	font-size:16px;	
	margin-left: 48px;
	position: relative;
	top: 4px;
}

.front {
	width:23px;
	height:89px;	
	background:url(../img/front.png);
}

#footer {
	font-family:Calibri,verdana,tahoma,arial, sans serif;
	margin-top: 105px;
}

@-moz-document url-prefix() { 
  #footer {
     margin-top: 88px;
  }
}


#address {
	font-size:16px;
	width: 313px;
	text-align: center;
	margin: 0 auto;
	color:#4e5664;	
}

#address span {
	color:#4e5664;	
}

#copyright {
	width:720px;
	height:50px;
	background:url(../img/copyright.png);
	margin: 16px auto 0 120px;
	text-align: center;	
	font-family:Calibri,verdana,tahoma,arial, sans serif;
	font-size:11px;
	color:#797d83;
	float: left;
}

#copyright span {
	position: relative;
	top: 10px;	
}

#copyright b {
	color:#4f5459;	
}

#development {
	width: 102px;
	float: right;	
	margin-right: 11px;
	margin-top: -15px;
}

.error {
	margin-top: -36px;
	font-size:14px !important;
	float: none !important;
	color:red !important;
}