/* CSS Document */

#banner a img {
	width:815px;
	height:250px;
}

#banner a {
	position:absolute;		
}

#phone {
	color:#fff;
	font-weight:bold;	
	font-size: 15px;
	width: 120px;
	margin-top: 0px;	
}

#development {
	margin-right: 20px;	
}

#info p {
	font-size: 17px;
}

#info h4 {
	margin-top: 5px;
}

#menu ul li a {
	font-size: 11px;
	margin-right: 18px;
}

#content_top span {
	font-size: 50px;
}

#empresa {
	font-size: 17px;
	padding-bottom:10px;
}

#content_bottom {
	font-size: 17px;
}

#bgfooter {
	background: url(../img/bg_rodape.png) center;	
}

#text_info {
	font-size: 24px;
}

#text_info span {
	font-size: 45px !important;
}

#content_text {
	width: 550px;
	float: left;
}

#form form textarea {
	height: 114px;
}